<h1>Forgot your password</h1>
<p>Hi there, we've noticed you forgot your password. Don't worry, it happens to the best (and worst) of us.</p>
<p><a href={{link}}>Here's a link to reset your password and get you back on track</a></p>
<p>Alternatively you can copy and paste the following {{link}}</p>