td > div{
    text-align: center;
    vertical-align: middle;
}

td.basic > div {
    text-align: left;
    vertical-align: top;
}

.table-fixed {
    table-layout: fixed;
}

.form-success {
    border-color:#00a65a;
    box-shadow:none
}

.scroll-vertical {
    height: 500px;
    overflow-y: scroll;
    white-space: nowrap;
}

.tag {
  font-size: 12px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tooltipq {
     background: #333;
     background: rgba(0,0,0,.8);
     border-radius: 5px;
     color: #fff;
     padding: 5px 15px;
     position: absolute;
     z-index: 999;
     width: 220px;
}